examples/PiIO_H_boards/DIO_H/DIO_H_nodered.json
[{"id":"6c1389c4.483a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"777037cc.200708","type":"mqtt in","z":"6c1389c4.483a98","name":"","topic":"mem/count","qos":"2","datatype":"auto","broker":"6285cbc1.675614","x":96.5,"y":20,"wires":[["80a76332.f1dbe"]]},{"id":"80a76332.f1dbe","type":"ui_text","z":"6c1389c4.483a98","tab":"a87885b9.50c928","name":"Pgm cycle","group":"python","order":1,"format":"{{msg.payload}}","x":314.5,"y":20,"wires":[]},{"id":"54f75738.0f92c8","type":"mqtt in","z":"6c1389c4.483a98","name":"","topic":"mem/input","qos":"2","datatype":"auto","broker":"6285cbc1.675614","x":94,"y":62,"wires":[["fc33b7ff.50be28"]]},{"id":"fc33b7ff.50be28","type":"ui_text","z":"6c1389c4.483a98","tab":"a87885b9.50c928","name":"Input pressed","group":"Input","order":1,"format":"{{msg.payload}}","x":326,"y":62,"wires":[]},{"id":"b62a647e.cda348","type":"mqtt out","z":"6c1389c4.483a98","name":"","topic":"mem/motor","qos":"","retain":"","broker":"6285cbc1.675614","x":564.5,"y":184,"wires":[]},{"id":"4124a349.eb0f7c","type":"ui_slider","z":"6c1389c4.483a98","tab":"a87885b9.50c928","name":"PWM Rate","topic":"","group":"Output","order":"3","min":0,"max":"100","x":348.5,"y":278,"wires":[["74565889.788ec8"]]},{"id":"e4384f69.33465","type":"ui_switch","z":"6c1389c4.483a98","tab":"a87885b9.50c928","name":"Motor start","topic":"","group":"Output","order":1,"onvalue":"true","offvalue":"false","x":355.5,"y":189,"wires":[["b62a647e.cda348"]]},{"id":"74565889.788ec8","type":"mqtt out","z":"6c1389c4.483a98","name":"","topic":"mem/servo","qos":"","retain":"","broker":"6285cbc1.675614","x":566.5,"y":280,"wires":[]},{"id":"c62bfdcc.e4461","type":"mqtt in","z":"6c1389c4.483a98","name":"","topic":"mem/run_time","qos":"2","datatype":"auto","broker":"6285cbc1.675614","x":98,"y":120,"wires":[["85e73ef0.eaa07"]]},{"id":"85e73ef0.eaa07","type":"ui_text","z":"6c1389c4.483a98","tab":"a87885b9.50c928","name":"Run time","group":"Output","order":"2","format":"{{msg.payload}}","x":299,"y":113,"wires":[]},{"id":"6285cbc1.675614","type":"mqtt-broker","z":"","name":"pimoz","broker":"192.168.1.9","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a87885b9.50c928","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]


