examples/hydro_ADIO.red
[{"id":"cad785e7.7ca968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18758c26.2c91c4","type":"ui_switch","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"Enable","topic":"hydro/beer_enable","group":"Brewing control","order":1,"onvalue":"true","offvalue":"false","x":100,"y":160,"wires":[["4c68f5aa.da329c"]]},{"id":"6d6bb2ae.7cb1ac","type":"file","z":"cad785e7.7ca968","name":"","filename":"/home/pi/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":490,"y":760,"wires":[[]]},{"id":"4c68f5aa.da329c","type":"mqtt out","z":"cad785e7.7ca968","name":"","topic":"","qos":"","retain":"","broker":"66c8bac8.b99464","x":310,"y":160,"wires":[]},{"id":"119a8fe7.47ddf","type":"mqtt in","z":"cad785e7.7ca968","name":"","topic":"hydro/beer_temp","qos":"0","datatype":"utf8","broker":"66c8bac8.b99464","x":440,"y":240,"wires":[["4cbb77a1.6f67a8"]]},{"id":"4cbb77a1.6f67a8","type":"ui_chart","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"Temperature","group":"Brewing Feedback","order":"2","interpolate":"linear","nodata":"No Data","removeOlder":"24","removeOlderUnit":"3600","x":670,"y":80,"wires":[[],[]]},{"id":"60bf4303.25ad8c","type":"ui_numeric","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"Setpoint","topic":"hydro/beer_setp","group":"Brewing control","order":"2","format":"{{value}}","min":"15","max":"20","x":100,"y":80,"wires":[["4c68f5aa.da329c","4cbb77a1.6f67a8"]]},{"id":"9a8214bf.b5a368","type":"mqtt in","z":"cad785e7.7ca968","name":"","topic":"hydro/beer_time","qos":"0","datatype":"utf8","broker":"66c8bac8.b99464","x":440,"y":320,"wires":[["4db8dd19.75b974"]]},{"id":"4db8dd19.75b974","type":"ui_text","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"Brew time","group":"Brewing Feedback","order":"1","format":"{{msg.payload}}","x":680,"y":320,"wires":[]},{"id":"1af213f7.cf93fc","type":"ui_text","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"Irrigations","group":"Irrigation ","order":"3","format":"{{msg.payload}}","x":680,"y":420,"wires":[]},{"id":"40006101.c9ea3","type":"mqtt in","z":"cad785e7.7ca968","name":"","topic":"hydro/irrigation_cnt","qos":"0","datatype":"utf8","broker":"66c8bac8.b99464","x":450,"y":420,"wires":[["1af213f7.cf93fc"]]},{"id":"e056dcbb.26757","type":"mqtt in","z":"cad785e7.7ca968","name":"","topic":"hydro/hours_no_water","qos":"0","datatype":"utf8","broker":"66c8bac8.b99464","x":460,"y":460,"wires":[["c3073153.1a8e7"]]},{"id":"c3073153.1a8e7","type":"ui_text","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"hours no water","group":"Irrigation ","order":"2","format":"{{msg.payload}}","x":700,"y":460,"wires":[]},{"id":"e9369853.22a4a8","type":"ui_text","z":"cad785e7.7ca968","tab":"78428f07.e9148","name":"last irrigation","group":"Irrigation ","order":"1","format":"{{msg.payload}}","x":690,"y":500,"wires":[]},{"id":"ef0cde13.efd13","type":"mqtt in","z":"cad785e7.7ca968","name":"","topic":"hydro/last_irrigation","qos":"0","datatype":"utf8","broker":"66c8bac8.b99464","x":450,"y":500,"wires":[["e9369853.22a4a8"]]},{"id":"78428f07.e9148","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"},{"id":"66c8bac8.b99464","type":"mqtt-broker","z":"","name":"pimoz","broker":"192.168.1.8","port":"1883","clientid":"test-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
